<%= render 'shared/title', title: 'All Categories'%>

<% @categories.each do |category| %>
<div class='row'>
  <div class='well col-md-6'>
    <p><b><%= category.name %></b></p>
  </div>
</div>
<% end %>